@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background: #111;
  color: #fff;
  margin: 0;
  padding: 0;
}
header {
  background: #111;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #bbb;
}
.hero {
  width: 100%;
  overflow: hidden;
}
.carousel {
  width: 100%;
}
.carousel img,
.carousel video {
  width: 100%;
  height: 95vh;
  object-fit: cover;
  display: block;
}
.carousel video {
  background: black;
  pointer-events: none;
}
.slick-dots {
  bottom: 10px;
}
.slick-dots li {
  margin: 0 3px;
}
.slick-dots li button:before {
  color: white;
  font-size: 10px;
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  color: #4a00e0;
}
.info {
  padding: 20px;
  text-align: left;
}
.info h1 {
  font-size: 28px;
  margin: 10px 0;
  font-weight: 600;
}
.info p {
  font-size: 16px;
  color: #bbb;
  font-weight: 400;
}
.btn {
  display: block;
  text-align: center;
  background: #4a00e0;
  color: white;
  border: none;
  padding: 15px;
  max-width: 100%;
  width: calc(100% - 40px);
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  margin: 0 auto;
}
.reviews {
  padding: 20px;
  text-align: left;
  position: relative;
}

.reviews h2 {
  font-size: 22px;
  font-weight: 600;
  display: inline-block;
}

.reviews h2::after {
  content: "\2192"; /* Юникод стрелки вправо → */
  font-size: 22px;
  margin-left: 10px;
  color: #fff;
  display: inline-block;
}

.review {
  background: #222;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #fff;
  position: relative;
}
.review h3 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}
.review h3 span:first-child {
  color: #fff;
}
.review h3 span:last-child {
  color: gold;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}
.review p {
  color: #bbb;
}
